<div class="col-12 col-sm-6 col-lg-4">
  <div class="card">
    <%= link_to post do %>
      <div class="card-topper" style='background-image: url(<%= parsing_img(post.body) %>);'></div>
    <% end %>
    <div class="card-body">
      <p class="card-title"><%= link_to post.title, post %></p>
      <p class="tags">
        <%= raw post.tags.map {
              |t| link_to t.name, posts_path(tag: t.name)
            }.join(' ') %>
      </p>
      <p class="published-date">
        <%= post.display_day_published %>
      </p>
    </div>
  </div>
</div>
