<% provide(:page_title, @post.title) %>
<% provide(:blog_active, 'active') %>
<div class="row my-4">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @post.title %></h1>
    <h6><%= @post.display_day_published %></h6>
    <%= @post.body.html_safe %>
    <div class="next-and-previous pb-4 border-bottom">
      <span><%= link_to('Next', @post.next) if @post.next.present? %></span>
      <span class="float-right"><%= link_to('Previous', @post.previous) if @post.previous.present? %></span>
    </div>
    <div id="disqus_thread" class="my-4"></div>
    <noscript>
      Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </div>
</div>
