<% provide(:page_title, @post.title) %>
<% provide(:blog_active, 'active') %>
<div class="row my-4">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @post.title %></h1>
    <div class="view-counts-and-published-date">
      <span><%= @post.impressionist_count %> views</span>
      <span class="float-right"><%= display_day_published(post: @post) %></span>
    </div>
    <p class="categories mt-2">
      <%== @post.tags.map {
            |t| link_to t.name, posts_path(tag: t.name), class: 'badge badge-secondary'
           }.join(' ') %>
    </p>
    <p class="social-share-buttons"><%= social_share_button_tag(@post.title, desc: @post.title) %></p>
    <div class="post-body mt-4"><%== @post.body %></div>
    <div class="next-and-previous mt-4 pb-4 border-bottom">
      <span><%= link_to('Next', @post.next, class: 'text-decoration-none') if @post.next.present? %></span>
      <span class="float-right"><%= link_to('Previous', @post.previous, class: 'text-decoration-none') if @post.previous.present? %></span>
    </div>
    <div id="disqus_thread" class="my-4"></div>
    <div class="popular-posts">
      <%= render 'blog/posts/popular_posts', popular_posts: @popular_posts %>
    </div>
    <div class="new-posts mt-4">
      <%= render 'blog/posts/new_posts', new_posts: @new_posts %>
    </div>
  </div>
</div>

<script>
  // For disqus
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  if(typeof DISQUS === "undefined") {
    var disqus_config = function () {
      var browser_language = navigator.language;
      this.language = browser_language;
      this.page.url = '<%= request.original_url %>'; // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '<%= @post.slug %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://yuta-arita.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  } else {
    DISQUS.reset({
      reload: true,
      config: function () {
        this.page.url = '<%= request.original_url %>'; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '<%= @post.slug %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      }
    });
  }
</script>
<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
