<div class="contact" style="padding:20px 0px; background-color:white;">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4 style="text-align:center; margin:20px 0px;">
        Contact
      </h4>
    </div>
  </div>

  <hr class="light my-4">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3 style="text-align:center; margin:20px 0px;">
        Your Name
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 offset-md-3" style="text-align:center;">
      <span style="font-size: 4rem;">
        <%= icon('fas', 'mobile-alt') %>
      </span>
      <p>xxx-xxxx-xxx</p>
    </div>
    <div class="col-md-3" style="text-align:center;">
      <span style="text-align:center; font-size: 4rem;">
        <%= icon('fas', 'envelope') %>
      </span>
      <p>feedback@startbootstrap.com</p>
    </div>
  </div>

  <div class="row" style="margin:20px 0px;">
    <div class="col-md-12" style="text-align:center;">
      <span style="font-size: 1.5rem; margin-right:30px;">
        <%= icon('fab', 'facebook') %>
      </span>
      <span style="font-size: 1.5rem; margin-right:30px;">
        <%= icon('fab', 'twitter') %>
      </span>
      <span style="font-size: 1.5rem; margin-right:30px;">
        <%= icon('fab', 'instagram') %>
      </span>
      <span style="font-size: 1.5rem; margin-right:30px;">
        <%= icon('fab', 'youtube') %>
      </span>
      <span style="font-size: 1.5rem; margin-right:30px;">
        <%= icon('fab', 'line') %>
      </span>
      <span style="font-size: 1.5rem; margin-right:30px;">
        <%= icon('fab', 'linkedin') %>
      </span>
    </div>
  </div>
</div>
