<footer class="py-4">
  <div class="row footer-icons">
    <div class="col-md-12">
      <span class="mr-4"><%= icon('fab', 'facebook') %></span>
      <span class="mr-4"><%= icon('fab', 'twitter') %></span>
      <span class="mr-4"><%= icon('fab', 'instagram') %></span>
      <span><%= icon('fab', 'youtube') %></span>
    </div>
  </div>

  <div class="row copyright">
    <div class="col-md-12">
      <span class="text-center">© Copyright <%= Time.current.year %> Yuta Arita - All Rights Reserved</span>
    </div>
  </div>
</footer>
