<div class="map my-5" id="mystudios">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4 class="text-center mt-3"><%= t('top.studio.menu') %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 px-0">
      <div class="iframe-container my-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6482.755224633582!2d139.705785!3d35.667703!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9c8f042d354157fa!2sASSORT+HARAJUKU+Harajuku+Hair+Salon!5e0!3m2!1sen!2sjp!4v1554368717051!5m2!1sen!2sjp" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="studios-info mt-2 ml-4">
        <p><%= t('top.studio.name') %></p>
        <p style="font-size:14px;"><%= t('top.studio.place') %></p>
        <p style="font-size:14px;">TEL: <%= t('top.studio.tel') %></p>
        <p style="font-size:14px;"><a href="<%= t('top.studio.url') %>"><%= t('top.studio.url') %></a></p>
      </div>
    </div>
  </div>
</div>
