<title><%= full_title(yield(:page_title)) %></title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<!-- FIXME: Cannot set end of body tag because tinymce is not working -->
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= tinymce_assets %>
