<nav class="col-md-2 mx-0 d-none d-lg-block sidebarbg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-sticky list-group list-group-flush">
    <%= link_to new_authors_post_path, class: 'list-group-item list-group-item-action bg-light' do %>
      <i class="fas fa-file-alt"></i>New Post
    <% end %>
    <%= link_to authors_posts_path, class: 'list-group-item list-group-item-action bg-light' do %>
      <i class="fas fa-tasks"></i>Manage Posts
    <% end %>
    <%= link_to authors_tags_path, class: 'list-group-item list-group-item-action bg-light' do %>
      <i class="fas fa-tags"></i>Categories
    <% end %>
    <%= link_to edit_author_registration_path, class: 'list-group-item list-group-item-action bg-light' do %>
      <i class="fas fa-user"></i>Account
    <% end %>
    <%= link_to destroy_author_session_path, method: :delete, class: 'list-group-item list-group-item-action bg-light' do %>
      <i class="fas fa-sign-out-alt"></i>Logout
    <% end %>
  </div>
</nav>
