<%= form_with(model: post, local: true, url: url) do |form| %>

  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row my-4">
    <div class="col-md-6 offset-md-3">
      <% if @post.new_record? %>
        <h4 class="new-post text-center">New post</h4>
      <% else %>
        <h4 class="edit-post text-center">
          <b>Edit</b>
          <span class="thin-text"><%= @post.title %></span>
        </h4>
      <% end %>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-4">
      <div class="card" style="margin-bottom: 10px;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="field">
              <%= form.label :title %>
              <%= form.text_field :title, id: :post_title, class: 'form-control' %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label 'Tags' %>
              <%= form.text_field :tag_list, id: :post_tag_list, class: 'form-control' %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="actions">
              <%= form.submit "Save blog post", class: 'btn btn-success btn-block' %>
            </div>
          </li>
        </ul>
      </div>
      <% if @post.persisted? %>
        <%= link_to 'Show', @post %> |
      <% end %>
      <%= link_to 'Back', authors_posts_path %>
    </div>

    <div class="col-md-8">
      <%= form.text_area :body, class: :tinymce, id: :post_body %>
      <%= tinymce uploadimage_form_url: '/authors/tinymce_assets', relative_urls: false %>
    </div>
  </div>
<% end %>
