<%= form_with(model: post, local: true, url: url) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row my-4">
    <div class="col-md-6 offset-md-3">
      <% if @post.new_record? %>
        <h4 class="new-post text-center">New post</h4>
      <% else %>
        <h4 class="edit-post text-center">
          <b>Edit</b>
          <span class="thin-text"><%= @post.title %></span>
        </h4>
      <% end %>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-8 offset-md-2">
      <div class="form-group">
        <div class="field">
          <%= form.label :title %>
          <%= form.text_field :title, id: :post_title, class: 'form-control', placeholder: "Enter post title" %>
        </div>
        <div class="field">
          <%= form.label 'Category' %><span>(Separate by commas if you want to add multiple categories)</span>
          <%#= form.collection_select :tag_list, ActsAsTaggableOn::Tag.all, :name, :name, mutiple: true, include_blank: true %>
          <%= form.text_field :tag_list, id: :post_tag_list, class: 'form-control', placeholder: "Enter the categories" %>
        </div>
        <div class="field my-4">
          <%= form.text_area :body, class: :tinymce, id: :post_body %>
          <%= tinymce uploadimage_form_url: '/authors/tinymce_assets', relative_urls: false, uploadimage_default_img_class: 'img-fluid' %>
        </div>
        <div class="actions">
          <%= form.submit "Save", class: 'btn btn-success' %>
          <%= link_to('Back', post.persisted? ? authors_post_path(post) : authors_posts_path, class: 'btn btn-secondary', data: { confirm: 'Are you sure? All text you wrote will be unsaved.' }) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
