<tr>
  <td class="titles">
    <%= link_to post.title, authors_post_path(post), class: 'text-decoration-none' %>
  </td>
  <!-- TODO: カテゴリ名選択したら、そのカテゴリ名だけ表示されるようにする -->
  <td class="categories">
    <%== post.tags.map {
           |t| link_to t.name, authors_posts_path(tag: t.name), class: 'badge badge-secondary'
         }.join(' ') %>
  </td>
  <td><%= post.impressionist_count %> views</td>
  <td><%= post.created_at.strftime('%Y %-b %-d %R') %></td>
  <% if post.published? %>
    <td>
      <%= post.published_at.strftime('%Y %-b %-d %R') %>
    </td>
    <td>
      <%= link_to unpublish_authors_post_path(post), method: :put do %>
        <i class="fas fa-eye-slash mr-2" data-toggle="tooltip" data-placement="top" title="Unpublish"></i>
      <% end %>
    </td>
  <% else %>
    <td></td>
    <td>
      <%= link_to publish_authors_post_path(post), method: :put do %>
        <i class="fas fa-eye mr-2" data-toggle="tooltip" data-placement="top" title="Publish"></i>
      <% end %>
    </td>
  <% end %>
  <td>
    <%= link_to authors_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fas fa-trash-alt mr-2" data-toggle="tooltip" data-placement="top" title="Delete"></i>
    <% end %>
  </td>
</tr>
