<% provide(:page_title, @post.title) %>
<% provide(:author, 'active') %>
<div class="row my-4">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @post.title %></h1>
    <div class="views-and-published">
      <span><%= @post.hits %> views</span>
      <span class="float-right"><%= @post.display_day_published %></span>
    </div>
    <p class="categories mt-2">
      <%== @post.tags.map {
            |t| link_to t.name, posts_path(tag: t.name), class: 'badge badge-secondary'
           }.join(' ') %>
    </p>
    <div class="post-body mt-4"><%== @post.body %></div>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <%= link_to('Back', authors_posts_path, class: 'btn btn-secondary') %>
    <%= link_to('Edit', edit_authors_post_path(@post), class: 'btn btn-success') %>
    <%= link_to('Remove', authors_post_path(@post), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }) %>
  </div
</div>
