<nav class="navbar navbar-light navbar-expand-lg <%= current_page?(root_path) ? 'fixed-top' : 'sticky-top' %>"
     style="<%= 'background-color:#000000;' unless current_page?(root_path) %>">
  <div class='container'>
    <a class='navbar-brand' href='/'>
      H<span class='light'>airdresser</span> Y<span class="light">uta</span>
    </a>
    <ul class="nav navbar-nav">
      <% if author_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= yield(:author) %>" href="#" id="navbarDropdown" role="button" data-flip="true" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            <%= current_author.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="position: absolute;right: 0;left: auto;">
            <%= link_to 'Posts', authors_posts_path, class: 'dropdown-item' %>
            <%= link_to 'Categories', authors_tags_path, class: 'dropdown-item' %>
            <%= link_to 'Account', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <span style="font-size:1.2rem; color:gray;">
            <%= icon('fab', 'facebook') %>
          </span>
        </li>
        <li class="nav-item">
          <span style="font-size:1.2rem; color:gray;">
            <%= icon('fab', 'twitter') %>
          </span>
        </li>
        <li class="nav-item">
          <span style="font-size:1.2rem; color:gray;">
            <%= icon('fab', 'instagram') %>
          </span>
        </li>
        <li class="nav-item">
          <span style="font-size:1.2rem; color:gray;">
            <%= icon('fab', 'youtube') %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
