<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <% if notice.present? %>
      <p class="notice alert alert-success" role="alert" style="text-align:center; margin-bottom:0px;"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger" role="alert" style="text-align:center; margin-bottom:0px;"><%= alert %></p>
    <% end %>

    <div class="container-fluid <%= controller_name %> <%= action_name %> mt-0">
      <%= yield %>
    </div>
  </body>
</html>
