<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class="d-flex flex-column">
    <%= render 'layouts/navbar' %>
    <% if notice.present? %>
      <p class="notice alert alert-success text-center mb-0" role="alert"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger text-center mb-0" role="alert"><%= alert %></p>
    <% end %>
    <main>
      <div class="container-fluid <%= controller_name %> <%= action_name %> mt-0">
        <div class="row">
          <%= render 'authors/shared/sidebar' if author_signed_in? %>
          <div class="col-lg-10 col-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
