<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <% if notice.present? %>
      <p class="notice alert alert-success text-center mb-0" role="alert"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger text-center mb-0" role="alert"><%= alert %></p>
    <% end %>
    <div class="container-fluid <%= controller_name %> <%= action_name %> mt-0">
      <%= yield %>
    </div>
  </body>
</html>
